  /*  common base  */
  .relative-position, .relative {
    position: relative;
  }
  .full-width {
    width: 100%!important;
    margin-left: 0!important;
    margin-right: 0!important;
  }
  .no-outline {
    outline: 0!important;
  }
  .items-start {
    align-items: flex-start;
  }
  .no-wrap {
      flex-wrap: nowrap;
  }
  .column, .flex, .row {
    display: flex;
    flex-wrap: wrap;
  }
  .flex1{
    flex:1;
  }
  .column {
    flex-direction: column;
  }
  .flex-center, .items-center, .flex-text-v-center {
    align-items: center;
  }
  .flex-center, .justify-center, .flex-text-h-center {
    justify-content: center;
  }
  .justify-between{
    justify-content: space-between;
  }
  .text-center {
    text-align: center;
  }
  .box-text-center{
    display: -webkit-box;
    -webkit-box-orient:vertical;
    -webkit-box-pack: center;
    -webkit-box-align: center;
  }
  .flex-text-center{
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .col, .col-xs {
    flex: 10000 1 0%;
  }
  
  .text-grey-8 {
    color: #616161!important;
  }
  .bg-blue {
    background: #2196f3!important;
  }
  .text-white {
    color: #fff!important;
  }
  .q-mt-sm, .q-my-sm {
    margin-top: 8px;
  }
  /* button base */
  .q-btn--rectangle {
    border-radius: 3px;
  }
  .q-btn--actionable {
    cursor: pointer;
  }
  .q-btn {
    display: inline-flex;
    flex-direction: column;
    align-items: stretch;
    position: relative;
    outline: 0;
    border: 0;
    vertical-align: middle;
    padding: 0;
    font-size: 14px;
    line-height: 1.715em;
    text-decoration: none;
    color: inherit;
    background: transparent;
    font-weight: 500;
    text-transform: uppercase;
    text-align: center;
    width: auto;
    height: auto;
  }
  .q-btn {
    text-transform: none;
  }

  .live-up, .up {
    color: #ef534f;
  }
  /*  component base */
  .q-focus-helper {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    pointer-events: none;
    border-radius: inherit;
    opacity: 0;
    transition: background-color 0.3s cubic-bezier(0.25,0.8,0.5,1),opacity 0.4s cubic-bezier(0.25,0.8,0.5,1);
  }
  .q-focusable:focus>.q-focus-helper, .q-hoverable:hover>.q-focus-helper, .q-manual-focusable--focused>.q-focus-helper {
    background: currentColor;
    opacity: 0.15;
  }

  .q-separator--horizontal {
    display: block;
    height: 1px;
    width: 100%;
  }
  .q-separator {
    border: 0;
    background: #323232;
    margin: 0;
    transition: background 0.3s,opacity 0.3s;
  }

  /* form-items */
  .flex-item .form-line,.q-form .form-line-bottom {
    display: flex;
  }
  .q-form .form-line, .q-form dl {
    height: auto;
  }
  .q-form .form-line--label,.form-line-bottom .form-line--dt, .q-form .form-line dt, .q-form dl--label, .q-form dl dt {
    color: #616161;
  }
  .flex-item .form-line--label,.form-line-bottom .form-line--dt, .flex-item .form-line dt, .flex-item dl--label, .flex-item dl dt {
      width: 100px;
  }
  .flex-item .form-line--content, .flex-item .form-item dd, .flex-item dl--content, .flex-item dl dd {
    flex: 1;
  }
  .q-form .form-line--content, .q-form .form-line dd, .q-form dl--content, .q-form dl dd {
      color: inherit;
  }
  .q-select .q-field__input {
    min-width: 50px!important;
  }
  .q-form .q-field__control {
    height: inherit;
    min-height: 32px;
    border-radius: 0;
  }
  .q-form .q-field__control {
    background-color: #252525;
    color: #f5f5f5;
  }
  /* .q-field__control:after, .q-field__control:before {
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    pointer-events: none;
  }
  .q-field__control:after {
    height: 2px;
    top: auto;
    transform-origin: center bottom;
    transform: scale3d(0,1,1);
    background: currentColor;
    transition: transform 0.36s cubic-bezier(0.4,0,0.2,1);
  }
  .q-form .q-field__control:after {
    transform: scale3d(1,1,1);
  }
  .q-form .q-field__control:after {
    background: #2196f3;
  } */

  /* ----------------animate--------------- */
  .q-animate--scale {
    -webkit-animation: q-scale 0.15s;
    animation: q-scale 0.15s;
    -webkit-animation-timing-function: cubic-bezier(0.25,0.8,0.25,1);
    animation-timing-function: cubic-bezier(0.25,0.8,0.25,1);
  }
  .q-animate--fade {
    -webkit-animation: q-fade 0.2s;
    animation: q-fade 0.2s;
  }

  .slide-fade-enter-active {
    transition: all .3s ease;
  }
  .slide-fade-leave-active {
    transition: all .8s cubic-bezier(1.0, 0.5, 0.8, 1.0);
  }
  .slide-fade-enter, .slide-fade-leave-to
  /* .slide-fade-leave-active for below version 2.1.8 */ {
    transform: translateX(10px);
    opacity: 0;
  }