  /*  common base  */
  .flex-center, .items-center {
    align-items: center;
  }
  .no-wrap {
    flex-wrap: nowrap;
  }
  .column, .flex, .row {
    display: flex;
    flex-wrap: wrap;
  }
  .flex-center, .justify-center {
    justify-content: center;
  }
  .text-center {
    text-align: center;
  }
  /*  common base end */


